<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>血脂</string>
		<key>subcategories</key>
		<array>
			<string>总胆固醇</string>
			<string>低密度脂蛋白胆固醇</string>
			<string>甘油三酯</string>
			<string>载脂蛋白B</string>
			<string>载脂蛋白A1</string>
			<string>同型半胱氨酸</string>
			<string>高密度脂蛋白胆固醇</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>肝功能</string>
		<key>subcategories</key>
		<array>
			<string>总蛋白浓度</string>
			<string>总胆红素</string>
			<string>球蛋白</string>
			<string>乳酸脱氢酶</string>
			<string>谷丙转氨酶</string>
			<string>白蛋白浓度</string>
			<string>碱性磷酸酶</string>
			<string>间接胆红素</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>甲状腺功能</string>
		<key>subcategories</key>
		<array>
			<string>游离三碘甲状腺氨酸</string>
			<string>血清游离甲状腺素</string>
			<string>血清三碘甲状腺原氨酸</string>
			<string>血清甲状腺素</string>
			<string>促甲状腺激素</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>性激素六项</string>
		<key>subcategories</key>
		<array>
			<string>睾酮</string>
			<string>孕酮</string>
			<string>血清泌乳素</string>
			<string>血清促卵泡刺激素</string>
			<string>促黄体生成素</string>
			<string>雌二醇</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>血流变</string>
		<key>subcategories</key>
		<array>
			<string>红细胞刚性指数</string>
			<string>红细胞变形指数</string>
			<string>红细胞聚集指数</string>
			<string>红细胞压积</string>
			<string>全血高切相对指数</string>
			<string>全血高切还原粘度</string>
			<string>全血低切相对指数</string>
			<string>血浆年度</string>
			<string>血沉</string>
			<string>血沉方程K值</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>一般检查</string>
		<key>subcategories</key>
		<array>
			<string>血压</string>
			<string>心率</string>
			<string>舒张压</string>
			<string>收缩压</string>
			<string>脉搏</string>
			<string>晶状体</string>
			<string>玻璃体</string>
			<string>体重指数BMI</string>
		</array>
	</dict>
</array>
</plist>
